*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root{
    --cor1: rgb(31,31,31);
    --cor2: white;
    --cor3: rgb(58, 57, 57);
    --cor4: rgb(80, 80, 80);
    --cor5: #ec5151; 
    --cor6: #cecece; 
    --tileBorderRadius:4px;
}

/*MENU*/

#fade{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(54, 38, 38, 0.6);
    z-index: 80;
  }

.cabecalho{
    background-color: var(--cor1);
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 99;
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    grid-template-rows: 50px;
    column-gap: 10px;
}

#logo{
    margin-left: 10px;
    margin-top: 10px;
    height: 40px;
    width: 120px;
    background-color: transparent;
}
.icon{
    height: 35px;
    width: 35px;
}

nav ul li a{
    text-decoration: none;
    display: block;
    margin-left: -3vw;
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--cor2);
    text-align: justify;
    font-size: medium;
    font-weight: lighter;
}

nav ul li a:hover{
    background-color: var(--cor6);
    color: var(--cor1);
    font-weight: bolder;
    transition: all 0.2s linear;
    padding-left: 2px;
}

/*Menu Interação*/

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked ~ nav{
    display: flex;
    margin-left: 65%;
}

label{
    display: inline-block;
    background-color: transparent;
    margin-top: 9px;
    z-index: 1;
}

nav{
    position: fixed;
    margin-top: 60px;
    height: 100%;
    width: 30%;
    display: none;
    justify-content: left;
    background-color: var(--cor4);
    overflow-y: scroll;
}
#menu{
    width: 100%;
    list-style: none;
}

/*ao vivo*/
#live{
    margin-top: 10px;
}
#liveTxt{
    width: 80px;
    height: auto;

}
#liveCam{
    position: fixed;
    float: left;
    padding-left: 3px;
    top: 17px;
    height: 18px;
    width: 18px;
    animation: blink 1.5s steps(1, end) infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.2;
}
60% {
  opacity: 0.4;
}
70% {
  opacity: 0.6;
}
80% {
  opacity: 0.8;
}
90% {
  opacity: 1;
}
100% {
    opacity: 1;
  }
}

/*busca*/
#campoPesquisa{
    display: none;
    position: fixed;
    margin-top: 60px;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.86);
}
#pesquisa, #fazerPesquisa{
    margin-top: 20%;
    height: 40px;
}
#pesquisa{
    background-color: rgb(36, 36, 36);
    width:60vw;
    color: white;
}
#fazerPesquisa{
    background-color: var(--cor1);
    border-radius: 10px;
    width: 10vw;
}
#fechar{
    position: fixed;
    right: 0%;
}
#buscar{    
    width: 30px;
    color: var(--cor2);
    margin-top: 10px;
    height: 30px;
    background-color: transparent;
}
main{
    overflow-x:hidden;
}
}

/*Carousel body */

.link_categoria{
    text-decoration:none !important; 
}

.thumbTitle{
    padding-top: 4%;
    font-size: 10px;
    line-height: 14px;
    font-weight: 500;
    margin: 0 6% 12px;
    color: black;
}

.swiper-slide{
    padding-left: 15px;
    padding-right: 30px;
    margin-left: 15px;
}

figcaption{
    top: 15rem;
    left: 22rem;
    font-size: 20px;
}

.description-home{
    border: 1px solid red;
    width: 350px;
    height: 150px;
    
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: justify;
}

.section-with-carousel {
    padding-top: 15px;
}

.section-with-carousel .carousel-controls1 {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12px;
  z-index: 1;
}

.section-with-carousel .carousel-controls2 {
    position: absolute;
    top: 205%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 12px;
    z-index: 1;
  }

.carousel-controls1{
    font-size: 40px;
    color: blue;
}

.carousel-controls2{
    font-size: 40px;
    color: blue;
}

img{
    padding-top: 6px;
}

#container:hover{
   -webkit-transform:scale(1.1);
   transform: scale(1.1);
   cursor: pointer;
}

/* ESPORTES */

.container1{
    margin-left: 50px;
}

.container-10{
  display: flex;
  flex-direction: row;
}
.container2{
    margin-left: 50px;
}

.timeEsportes{
    top: 15rem;
    left: 22rem;
    font-size: 20px;
}

.description-esportes{
    font-size: 20px;
    color: black;
    font-weight: 500;
    text-align: justify;
}

.embed-responsive{
    padding-top: 30px;
}

.display{
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
}

/* FOOTER */

#jc_info{
   display: flex;
   text-align: center;  /* Faz ficar no centro */
   padding-left: 2%;
   padding-right: 2%;
}

#jc_info a{
   color: black;
   text-decoration: none;
   font-size: 0.90625rem;
    line-height: 1.2rem;
    color: rgb(209, 202, 202);
}

.col-33{
   width: 33%;
}

.categoria_footer{
   color: #fff;
   text-decoration: none;
}

#icon1, #icon2, #icon3{
   visibility: visible;
   font-size: 16px;
}

.container5{
    padding-top: 3%;;
    background: rgb(51, 50, 50);;
    color: #fff;
    font-size: 12px;
}

.redes{   /* Para mudar os icons de um agrupamento vertical para horizontal  */
    display: flex;
    margin-left: 60px;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px; /* Controla os espaços em branco do texto*/
    padding-top: 40px;
    text-decoration: none; 
    color: #fff; 
    margin-right: 200px;
    margin-left: 100px;
}

.logo:hover{
    opacity: 0.7;
    cursor: pointer;
}

dl{
    text-align: center;
}

.title-footer{
    line-height: 50px;
    text-align: center;
}

h5{
    /* margin-left: 35px;*/
    text-align: center;
}

h4{
    color: white;
    text-align: left;
    padding-top: 15px;
}


/* DESTAQUES HOME E ESPORTES */

#title-carousel{
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    text-transform: uppercase;
}

.descrition-title{
    line-height: 0.1rem;
    font-size: 0.875rem;
    text-align: left;
}

.carousel-inner{
    padding-top: 55px;
    padding-bottom: 50px;
    background-color: rgb(51, 50, 50);
}

.carousel-caption{
    height: 220px;
}

p{
    font-size: 1rem;
    text-align: justify;
    padding-right: 500px;
}

#player{
  height: 320px;
  width: 100%;
}

#player2{
  height: 320px;
  width: 100%;
}

#player3{
  height: 320px;
  width: 100%;
}

/* DESTAQUES EXCLUSIVOS DE ESPORTES */

#subtitle-carousel{
    line-height: 0.2rem;
    font-size: 1rem;
    text-align: left;
    padding-left: 20px;
    color: rgb(185, 175, 175);
}

.indicador-esportes{
    padding-top: 15px;
    background-color: rgb(149, 218, 47);
    /*rgb(51, 50, 50)*/
}

#player4{
    height: 320px;
    width: 100%;
  }
  
#player5{
    height: 320px;
    width: 100%;
  }
  
#player6{
    height: 320px;
    width: 100%;
  }


  /*responsividade*/

/* Iphone SE */
@media(max-width:380px){

    /* DESTAQUES  */

    .descrition-title{
        line-height: 0.1rem;
        font-size: 0.875rem;
        text-align: left;
    }

    .descrition-body{
        font-size: 14px;
        text-align: justify;
        padding-right: 50px;
    }

    .carousel-controls1 .carousel-control-left{
        padding-top: 5rem;
        color: black;
    }

    .carousel-controls1 .carousel-control-right{
        padding-top: 5rem;
        color: black;
    }

    .carousel-controls2 .carousel-control-right{
        padding-bottom: 15rem;
        color: black
    
    }

    .carousel-controls2 .carousel-control-left{
        padding-bottom: 15rem;
        color: black;
    }

    /*Carousel body */

    .thumbTitle{
        padding-top: 4%;
        font-size: 25px;
        line-height: 14px;
        font-weight: 500;
        margin: 0 6% 12px;
    }
    
    #container:hover{
       -webkit-transform:scale(1.1);
       transform: scale(1.1);
       cursor: pointer;
   }

    figcaption{
        top: 15rem;
        left: 22rem;
        font-size: 20px;
    }

    .description-home{
        font-size: 20px;
        font-weight: 500;
        text-align: justify;
    }

    .logo{
        margin-left: 60px;
    }

    .footer-bottom-text {
        text-align: center;
        padding: 0;
        padding-top: 10px;
    }
}

/* Iphone XR */
@media(max-width:415px) { 

    /* DESTAQUES  */

    .carousel-controls1 .carousel-control-left{
        padding-top: 8rem;
        color: black;
    }

    .carousel-controls1 .carousel-control-right{
        padding-top: 8rem;
        color: black;
    }

    .carousel-controls2 .carousel-control-right{
        padding-bottom: 70rem;
        color: black
    
    }

    .carousel-controls2 .carousel-control-left{
        padding-bottom: 70rem;
        color: black;
    }

    /*Carousel body */

    .logo{
        margin-left: 60px;
    }

    .footer-bottom-text {
        text-align: center;
        padding: 0;
        padding-top: 10px;
    }
}


@media(max-width:800px){
    #container:hover{
       -webkit-transform:scale(1.1);
       transform: scale(1.1);
       cursor: pointer;
    }

    /* DESTAQUES  */

    .descrition-title{
        line-height: 0.1rem;
        font-size: 0.875rem;
        text-align: left;
    }

    .descrition-body{
        font-size: 14px;
        text-align: justify;
        padding-right: 50px;
    }

}


    /*Carousel body */

    .thumbTitle{
        padding-top: 4%;
        font-size: 25px;
        line-height: 14px;
        font-weight: 500;
        margin: 0 6% 12px;
    }

    .swiper-slide{
        padding-left: 40px;
        padding-right: 280px;
        margin-left: 30px;
    }

    .carousel-controls1{
        font-size: 40px;
        color: blue;
    }

    .carousel-controls2{
        font-size: 40px;
        color: blue;
    }

     .carousel-controls1 .carousel-control-left{
        padding-top: 5rem;
    }

    .carousel-controls1 .carousel-control-right{
        padding-top: 5rem;
    }

    .carousel-controls2 .carousel-control-right{
        padding-bottom: 32rem;
    }

}


@media (max-width: 999px){

    #container:hover{
       -webkit-transform:scale(1.1);
       transform: scale(1.1);
       cursor: pointer;
    }

    .carousel-item{
        height: 40rem;
        background-color: rgb(51, 50, 50);
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .footer-bottom{
        text-align: center;  /* Faz ficar no centro */
        line-height: 50px; /* Faz ficar no centro */
        background-color: #fff;
        padding-left: 50px;
    }

    .carousel-caption{
        text-align: justify;
        color: black;
        height: 280px;
    }


    .d-block{
        height: 20rem;
    }

    h4{
        font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
        color: rgb(255, 255, 255);
        line-height: 2.125rem;
        font-size: 1.875rem;
        font-weight: 600;
        font-style: normal;
        margin-bottom: 0px;
        text-align: left;
    }

    .descrition-title{
        font-family: nyt-franklin, helvetica, arial, sans-serif;
        font-weight: 300;
        letter-spacing: 0.0125rem;
        color: rgb(128, 123, 123);
        margin-top: 0.9375rem;
        font-size: 0.875rem;
        line-height: 1.125rem;
        text-align: justify;
    
    }

    p{
        font-size: 0.90625rem;
        line-height: 1.2rem;
        color: rgb(209, 202, 202);
        text-align: justify;
        padding-right: 0px;
    }   

    .swiper-button-prev, .swiper-button-next{
        padding-top: 38rem;
    }

    .icon1, .icon2, .icon3{
        visibility: visible;
    }

    .logo{
        padding-left: 100px;
    }

    .footer-bottom{
        padding-left: 200px;
    }
}
