*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root{
    --cor1: rgb(31,31,31);
    --cor2: white;
    --cor3: rgb(58, 57, 57);
    --cor4: rgb(82, 81, 80);
    --cor5: #ec5151; 
    --cor6: #cecece; 
    --tileBorderRadius:4px;
}

/*MENU*/

#fade{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(54, 38, 38, 0.6);
    z-index: 80;
  }

header{
    background-color: var(--cor1);
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 99;
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    grid-template-rows: 50px;
    column-gap: 10px;
}

#logo{
    margin-left: 10px;
    margin-top: 10px;
    height: 40px;
    width: 120px;
    background-color: transparent;
}
.icon{
    height: 35px;
    width: 35px;
}

nav ul li a{
    text-decoration: none;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--cor2);
    text-align: justify;
    font-size: medium;
    font-weight: lighter;
}

nav ul li a:hover{
    background-color: var(--cor6);
    color: var(--cor1);
    font-weight: bolder;
    transition: all 0.2s linear;
    padding-left: 2px;
}

/*Menu Interação*/

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked ~ nav{
    display: flex;
    margin-left: 70%;
}

label{
    display: inline-block;
    background-color: transparent;
    margin-top: 9px;
    z-index: 1;
}

nav{
    position: fixed;
    margin-top: 60px;
    height: 100%;
    width: 30%;
    display: none;
    justify-content: left;
    background-color: var(--cor4);
    overflow-y: scroll;
}
#menu{
    width: 100%;
    list-style: none;
}

/*ao vivo*/
#live{
    margin-top: 10px;
}
#liveTxt{
    width: 80px;
    height: auto;

}
#liveCam{
    position: fixed;
    float: left;
    padding-left: 3px;
    top: 17px;
    height: 18px;
    width: 18px;
    animation: blink 1.5s steps(1, end) infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.2;
}
60% {
  opacity: 0.4;
}
70% {
  opacity: 0.6;
}
80% {
  opacity: 0.8;
}
90% {
  opacity: 1;
}
100% {
    opacity: 1;
  }
}

/*busca*/
#campoPesquisa{
    display: none;
    position: fixed;
    margin-top: 60px;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.86);
}
#pesquisa, #fazerPesquisa{
    margin-top: 20%;
    height: 40px;
}
#pesquisa{
    background-color: rgb(36, 36, 36);
    width:60vw;
    color: white;
}
#fazerPesquisa{
    background-color: var(--cor1);
    border-radius: 10px;
    width: 10vw;
}
#fechar{
    position: fixed;
    right: 0%;
}
#buscar{    
    width: 30px;
    color: var(--cor2);
    margin-top: 10px;
    height: 30px;
    background-color: transparent;
}
main{
    overflow-x:hidden;
}


/*video*/
.vescolhido{
    background-color: rgba(0, 0, 0, 0.88);
    color: white;
}
.vescolhido #player5{
    height: 320px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}
#head-expandir{
    margin-left: 15px;
    display: inline-flex;
}

.titleVideoEscolhido{
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}
#seta-exp{
    padding: 10px;
    font-size:10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size:18px;
}
#video-desc{
    display: none;
    font-size: 15rem;
    padding:  10px 20px;
}
#ads{
    padding-top: 4rem;
    padding-bottom: 3rem;
    font-size: 15px;
}

/* DESTAQUES HOME E ESPORTES */

#title-carousel{
    color: white;
    padding-left:40px;
    padding-top: 20px;
    font-size: 28px;
}

#subtitle-carousel{
    line-height: 0.2rem;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 40px;
    padding-bottom: 1rem;
    color: rgb(185, 175, 175);
}

.title-destaque{
    font-size: calc(1.2rem);
    text-align: justify;
}

.descrition-body{
    font-size: 0.90625rem;
    line-height: 1.2rem;
    color: rgb(209, 202, 202);
    text-align:justify;
}

.descrition-title{
    line-height: 0.1rem;
    font-size: 0.875rem;
    text-align: left;
}

.carousel-inner{
    padding-top: 55px;
    padding-bottom: 50px;
    height: 50rem;
    background-color: rgb(51, 50, 50);
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    top: 20rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.descrition-title {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.0125rem;
    color: rgb(128, 123, 123);
    margin-top: 0.9375rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: justify;
}


#player{
  height: 320px;
  width: 100%;
}

#player2{
  height: 320px;
  width: 100%;
}

#player3{
  height: 320px;
  width: 100%;
}


/*Carousel body */

.link_categoria{
    text-decoration:none !important; 
}

.link_categoria:hover{
    cursor: pointer;
}

.thumbTitle{
    padding-top: 10%;
    font-size: 25px;
    line-height: 14px;
    font-weight: 500;
    margin: 0 6% 12px;
    color: black;
}

figcaption{
    top: 15rem;
    left: 22rem;
    font-size: 17px;
}

.description-home{
    font-size: 18px;
    width: 230px;
    font-weight: 650;
    line-height: 1.5rem;
    text-align: justify;
}

#nextPage{
    font-size: 27px;
}

.swiper-slide{
    top: 1rem;
    padding-right: 11rem;
    padding-left: 2.5rem;
    margin-left: 2.5rem;
}

img{
    width: 16rem;
}

#container:hover{
    -webkit-transform:scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
 }

.carousel-controls1{
    font-size: 40px;
    color: black;
}

.carousel-controls2{
    font-size: 40px;
    color: black;
}

 .carousel-controls1 .carousel-control-left{
    padding-top: 36rem;
}

.carousel-controls1 .carousel-control-right{
    padding-top: 36rem;
}

.carousel-controls2 .carousel-control-right{
    padding-bottom: 15rem;
}

.section-with-carousel .carousel-controls1 {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    z-index: 13;
  }
  
  .section-with-carousel .carousel-controls2 {
      position: absolute;
      top: 205%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      padding: 0 12px;
      z-index: 12;
    }

    #adsHome{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 4rem;
        padding-bottom: 3rem;
        font-size: 15px;
    }

    
/* ESPORTES */


.container1, .container2{
    padding-left: 35px;
}

.title-destaque-esportes{
    font-size: calc(1.2rem);
    text-align: justify;
}

#containerEsportes{
    padding-right: 2rem;
}

.container-10{
  display: flex;
  flex-direction: row;
}

a {
    text-decoration: none !important;
}

.timeEsportes{
    top: 15rem;
    left: 22rem;
    color: rgb(87, 84, 84);
    font-size: 20px;
}

.description-esportes{
    font-size: 20px;
    color: black;
    font-weight: 500;
    text-align: justify;
}

.embed-responsive{
    padding-top: 30px;
}

.display{
    padding-top: 16px;
    font-weight: bold;
    font-size: 28px;
    color: black;
}

#adsEsportes{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
    font-size: 15px;
}

/* DESTAQUES EXCLUSIVOS DE ESPORTES */

.carousel-inner-esportes{
    padding-top: 55px;
    padding-bottom: 50px;
    height: 55rem;
    background-color: rgb(51, 50, 50);
}

.indicador-esportes{
    padding-top: 15px;
    background-color: #0C7B34;
}

#player4{
    height: 320px;
    width: 100%;
  }
  
#player5{
    height: 320px;
    width: 100%;
  }
  
#player6{
    height: 320px;
    width: 100%;
  }



/* FOOTER */

footer{
    margin-top: 30px;
}

#jc_info{
   display: flex;
   text-align: center;  /* Faz ficar no centro */
   padding-left: 2%;
   padding-right: 2%;
}

#jc_info a{
   color: black;
   text-decoration: none;
   font-size: 0.90625rem;
    line-height: 1.2rem;
    color: rgb(209, 202, 202);
}


.footer-bottom-text {
    color: black;
    text-align: center;
    font-size: 0.90625rem;
    line-height: 1.2rem;
    color: rgb(209, 202, 202);
}

.col-33{
   width: 33%;
}

.categoria_footer{
   color: #fff;
   text-decoration: none;
}

#icon1, #icon2, #icon3{
   visibility: visible;
   font-size: 16px;
}

.container5{
    padding-top: 3%;
    background: rgb(51, 50, 50);
    color: #fff;
    font-size: 12px;
}

.redes{   /* Para mudar os icons de um agrupamento vertical para horizontal  */
    display: flex;
    margin-left: 60px;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px; /* Controla os espaços em branco do texto*/
    padding-top: 40px;
    text-decoration: none; 
    color: #fff; 
    margin-right: 200px;
    margin-left: 100px;
}

.logo:hover{
    opacity: 0.7;
    cursor: pointer;
}

dl{
    text-align: center;
}

.title-footer{
    line-height: 50px;
    text-align: center;
}

h5{
    /* margin-left: 35px;*/
    text-align: center;
}

h4{
    color: white;
    text-align: left;
    padding-top: 15px;
}

/* SAMSUNG GALAXY 8 - MIN 360 */

@media (min-width:360px)  {

    .carousel-controls1 .carousel-control-left{
        padding-top: 25rem;
    }

    .carousel-controls1 .carousel-control-right{
        padding-top: 25rem;
    }
    
    .carousel-controls2 .carousel-control-right{
        padding-bottom: 35rem;
    }

    .swiper-slide{
        top: 1rem;
        padding-right: 11rem;
        padding-left: 2rem;
        margin-left: 2rem;
    }

    .logo{
        margin-left: 150px;
    }

    iframe{
        width: 290px;
    }

    #title-carousel, #subtitle-carousel{
        padding-left:40px;
    }

    #ads{
        padding-left:1.5rem;
    }
    
}

/* IPHONE SE - MIN 375 */

@media (min-width:375px)  {

    .carousel-controls1 .carousel-control-left { 
        padding-top: 36rem;
    }
    
    .carousel-controls1  .carousel-control-right{ 
        padding-top: 36rem;
    }

    .carousel-controls2 .carousel-control-right{
        padding-bottom: 15rem;
    }

    .swiper-slide{
        top: 1rem;
        padding-right: 9rem;
        padding-left: 1rem;
        margin-left: 1rem;
    }

    iframe{
        width: 300px;
    }

    #containerEsportes{
        padding-right: 1.5rem;
    }

    #title-carousel, #subtitle-carousel{
        padding-left:60px;
    }

    #player, #player2, #player3, #player4, #player5, #player6{
        width: 350px;
        height: 340px;
        padding-left: 2rem;
    }

    #subtitle-carousel, #title-carousel{ 
        padding-left: 2rem;
    }

    #ads{
        padding-left:1.5rem;
    }

    
}

/* IPHONE 12 PRO E PIXEL 5 - 390 */

@media (min-width:390px)  {

    .carousel-controls1 .carousel-control-left{
        padding-top: 15rem;
    }

    .carousel-controls1 .carousel-control-right{
        padding-top: 15rem;
    }
    
    .carousel-controls2 .carousel-control-right{
        padding-bottom: 62rem;
    }

    .description-esportes{
        text-align: left;
    }

    iframe{
        width: 320px;
    }

    #player, #player2, #player3, #player4, #player5, #player6{
        width: 360px;
        height: 340px;
        padding-left: 2rem;
    }

    #subtitle-carousel, #title-carousel{ 
        padding-left: 2rem;
    }

    #ads{
        padding-left:1.5rem;
    }
    
}

/* GALAXY ULTRA E GALAXY A51- 412 */

@media (min-width:412px)  {

    .carousel-controls1 .carousel-control-left{
        padding-top: 5rem;
    }

    .carousel-controls1 .carousel-control-right{
        padding-top: 5rem;
    }
  
    .carousel-controls2 .carousel-control-right{
        padding-bottom: 78rem;
    }

    .swiper-slide{
        top: 1rem;
        padding-left: 0.5rem;
        margin-left: 1rem;
    }

    iframe{
        width: 350px;
    }

    #player, #player2, #player3, #player4, #player5, #player6{
        width: 380px;
        height: 340px;
        padding-left: 2rem;
    }

    #subtitle-carousel, #title-carousel{ 
        padding-left: 2rem;
    }
}

/*IPHONE XR - 414 */

@media (min-width:414px)  {

    .carousel-controls1 .carousel-control-left {
        padding-top: 8rem;
    }

    .carousel-controls1 .carousel-control-right{
        padding-top:8rem;
    }
    
    .carousel-controls2 .carousel-control-right{
        padding-bottom: 75rem;
    }

    iframe{
        width: 340px;
    }

    #player, #player2, #player3, #player4, #player5, #player6{
        width: 380px;
        height: 340px;
        padding-left: 3rem;
    }

    #subtitle-carousel, #title-carousel{ 
        padding-left: 3rem;
    }
}

/*SURFACE DUO - 540 */

@media (min-width:540px) and (min-height:720px)   {

    .carousel-inner{
        padding-top: 55px;
        padding-bottom: 50px;
        height: 45rem;
        background-color: rgb(51, 50, 50);
    }

    .carousel-inner-esportes{
        padding-top: 55px;
        padding-bottom: 50px;
        height: 48rem;
        background-color: rgb(51, 50, 50);
    }

    iframe{
        width: 470px;
        height: 315px;
    }

    .carousel-controls1 .carousel-control-left { 
        padding-top: 27rem;
    }
    
    .carousel-controls1  .carousel-control-right{ 
        padding-top: 27rem;
    }

    .carousel-controls2 .carousel-control-right{
        padding-bottom: 1rem ;
    }

    .swiper-slide{
        top: 1rem;
        margin-left: 5rem;
    }

    img{
        width: 25rem;
    }

    .logo{
        margin-left: 200px;
    }
 
    #player, #player2, #player3, #player4, #player5, #player6{
        width: 510px;
        height: 340px;
        padding-left: 2rem;
    }

    #subtitle-carousel, #title-carousel{ 
        padding-left: 2rem;
    }
}

/* IPAD MINI - MIN 770 */

@media (min-width:768px) and (min-height:1024px)   {

    .thumbTitle{
        font-size: 2.2rem;
        padding-top: 5%;
    }

    .title-destaque{
        font-size: calc(1.45rem + .3vw);
    }

    .descrition-body{
        font-size: 1.2rem;
        line-height: 1.2rem;
        color: rgb(209, 202, 202);
        text-align:left;
    }

    .descrition-title{
        line-height: 0.1rem;
        font-size: 1rem;
        text-align: left;
    }

    .carousel-inner{
        padding-top: 55px;
        padding-bottom: 50px;
        height: 45rem;
        background-color: rgb(51, 50, 50);
    }

    .carousel-inner-esportes{
        padding-top: 55px;
        padding-bottom: 50px;
        height: 48rem;
        background-color: rgb(51, 50, 50);
    }

    iframe{
        width: 630px;
        height: 315px;
    }

    .carousel-controls1 .carousel-control-right{
        padding-bottom: 40rem;
    }

    .carousel-controls2 .carousel-control-right{
        padding-bottom: 80rem;
    }

    .swiper-slide{
        top: 1rem;
        margin-left: 7rem;
    }

    img{
        width: 25rem;
    }

    .logo{
        margin-left: 200px;
    }

    #containerEsportes, .display{
        padding-left: 2rem;
    }

    #title-carousel, #subtitle-carousel{
        padding-left:60px;
    }

    #player, #player2, #player3, #player4, #player5, #player6{
        width: 700px;
        height: 340px;
        padding-left: 6rem;
    }

    #subtitle-carousel, #title-carousel{ 
        padding-left: 6rem;
    }

    #ads{
        padding-left:8rem;
    }
    
}


/* IPAD AIR - MIN 830 */


@media (min-width:820px) and (min-height:1180px)   {

    .thumbTitle{
        font-size: 2.2rem;
    }

    .carousel-inner{
        padding-top: 55px;
        padding-bottom: 50px;
        height: 45rem;
        background-color: rgb(51, 50, 50);
    }

    .carousel-inner-esportes{
        padding-top: 55px;
        padding-bottom: 50px;
        height: 48rem;
        background-color: rgb(51, 50, 50);
    }
   
    .display{
        padding-right: 2rem;
    }

    #title-carousel, #subtitle-carousel{
        padding-left:60px;
    }

    iframe{
        width: 300px;
        height: 315px;
    }

    .carousel-controls1 .carousel-control-right{
        padding-bottom: 60rem;
    }

    .carousel-controls2 .carousel-control-right{
        padding-bottom: 140rem !important;
    }

    .swiper-slide{
        top: 1rem;
        margin-left: 7rem !important;
    }

    img{
        width: 25rem;
    }

    .logo{
        margin-left: 200px;
    }    

    #player, #player2, #player3, #player4, #player5, #player6{
        width: 750px;
        height: 340px;
        padding-left: 6rem;
    }

    #subtitle-carousel, #title-carousel{ 
        padding-left: 6rem;
    }

    #ads{
        padding-left:8rem;
    }
}

/* SURFACE PRO 7 - MIN 915 */


@media (min-width:912px) and (min-height:1368px)   {

    .thumbTitle{
        font-size: 2.2rem;
    }

    .carousel-inner{
        padding-top: 55px;
        padding-bottom: 50px;
        height: 45rem;
        background-color: rgb(51, 50, 50);
    }

    .carousel-inner-esportes{
        padding-top: 55px;
        padding-bottom: 50px;
        height: 48rem;
        background-color: rgb(51, 50, 50);
    }

    iframe{
        width: 700px;
        height: 315px;
    }

    .carousel-controls1 .carousel-control-right{
        padding-bottom: 80rem;
    }

    .carousel-controls2 .carousel-control-right{
        padding-bottom: 187rem !important;
    }

    .swiper-slide{
        top: 1rem;
        margin-left: 8rem !important;
    }

    img{
        width: 30rem;
    }

    .logo{
        margin-left: 200px;
    }

    #player, #player2, #player3, #player4, #player5, #player6{
        width: 850px;
        height: 340px;
        padding-left: 6rem;
    }

    #subtitle-carousel, #title-carousel{ 
        padding-left: 6rem;
    }
    
}

/*IPHONE 11 */

@media (min-width:828px) and (min-height:1792px)   {

    .thumbTitle{
        font-size: 2.2rem;
    }

    .carousel-inner{
        padding-top: 55px;
        padding-bottom: 50px;
        height: 45rem;
        background-color: rgb(51, 50, 50);
    }

    .carousel-inner-esportes{
        padding-top: 55px;
        padding-bottom: 50px;
        height: 48rem;
        background-color: rgb(51, 50, 50);
    }

    iframe{
        width: 400px;
        height: 215px;
    }

    .carousel-controls1 .carousel-control-right{
        padding-bottom: 135rem;
    }

    .carousel-controls2 .carousel-control-right{
        padding-bottom: 295rem;
    }

    .swiper-slide{
        top: 1rem;
        margin-left: 8rem;
    }

    img{
        width: 27em;
    }

    .logo{
        margin-left: 200px;
    }
    
}

/* NEXT HUB */

@media (min-width:1024px) and (min-height:600px)   {

    .title-destaque{
        font-size: calc(1.45rem + .3vw);
    }

    .thumbTitle{
        padding-top: 5%;
    }

    .descrition-body{
        font-size: 1.2rem;
        line-height: 1.2rem;
        color: rgb(209, 202, 202);
        text-align:left;
    }

    .descrition-title{
        line-height: 0.1rem;
        font-size: 1.2rem;
        text-align: left;
    }

    .thumbTitle{
        font-size: 2.2rem;
    }

    .carousel-inner{
        padding-top: 55px;
        padding-bottom: 50px;
        height: 42rem;
        background-color: rgb(51, 50, 50);
    }

    .carousel-inner-esportes{
        padding-top: 55px;
        padding-bottom: 50px;
        height: 48rem;
        background-color: rgb(51, 50, 50);
    }

    iframe{
        width: 420px;
        height: 215px;
    }

    .carousel-controls1 .carousel-control-right{
        padding-top: 35rem;
    }

    .carousel-controls1 .carousel-control-left{
        padding-top: 35rem;
    }

    .carousel-controls2 .carousel-control-right{
        padding-top:82rem;
    }

    .carousel-controls2 .carousel-control-left{
        padding-top: 82rem;
    }

    .swiper-slide{
        top: 1rem;
        margin-left: 5rem;
    }

    img{
        width: 30em;
    }

    .logo{
        margin-left: 100px;
    }

    #player, #player2, #player3, #player4, #player5, #player6{
        width: 950px;
        height: 340px;
        padding-left: 6rem;
    }

    #subtitle-carousel, #title-carousel{ 
        padding-left: 6rem;
    }
    
}

/* NEXT HUB MAX*/

@media (min-width:1280px) and (min-height:800px)   {

    .title-destaque{
        font-size: calc(1.45rem + .3vw);
    }

    .descrition-body{
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: rgb(209, 202, 202);
        text-align:left;
    }

    .descrition-title{
        line-height: 0.1rem;
        font-size: 1.2rem;
        text-align: left;
    }

    .thumbTitle{
        font-size: 2.2rem;
    }

    .carousel-inner{
        padding-top: 55px;
        padding-bottom: 50px;
        height: 42rem;
        background-color: rgb(51, 50, 50);
    }

    .carousel-inner-esportes{
        padding-top: 55px;
        padding-bottom: 50px;
        height: 48rem;
        background-color: rgb(51, 50, 50);
    }

    iframe{
        width: 520px;
        height: 250px;
    }

    .carousel-controls1 .carousel-control-right{
        padding-top: 15rem;
    }

    .carousel-controls1 .carousel-control-left{
        padding-top: 15rem;
    }

    .carousel-controls2 .carousel-control-right{
        padding-bottom:130rem;
    }

    .carousel-controls2 .carousel-control-left{
        padding-bottom: 130rem;
    }

    .swiper-slide{
        top: 1rem;
        margin-left: 10rem;
    }

    img{
        width: 30em;
    }

    .logo{
        margin-left: 100px;
    }

    #player, #player2, #player3, #player4, #player5, #player6{
        width: 1220px;
        height: 340px;
        padding-left: 6rem;
    }

    #subtitle-carousel, #title-carousel{ 
        padding-left: 6rem;
    }

    
}


/* WINDOWS */

@media (min-width:1366px) and (min-height:625px)   {

    #player, #player2, #player3, #player4, #player5, #player6{
        width: 1220px;
        height: 340px;
        padding-left: 9rem;
    }

    .display{
        padding-left:6rem;
    }

    .container-1{
        padding-left:6rem;
    }

    .container-2{
        padding-left:6rem;
    }

    .title-destaque-esportes{
        font-size: calc(1.5rem);
        text-align: justify;
    }
    
    #subtitle-carousel{
        padding-left: 9rem;
    }

    #title-carousel{
        padding-left: 9rem;
    }
    
    .title-destaque{
        font-size: calc(1.45rem + .3vw);
    }

    .descrition-body{
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: rgb(209, 202, 202);
        text-align:left;
    }

    .descrition-title{
        line-height: 0.1rem;
        font-size: 1.2rem;
        text-align: left;
    }

    .thumbTitle{
        font-size: 2rem;
    }

    .carousel-inner{
        padding-top: 55px;
        padding-bottom: 50px;
        height: 42rem;
        background-color: rgb(51, 50, 50);
    }

    .carousel-inner-esportes{
        padding-top: 55px;
        padding-bottom: 50px;
        height: 48rem;
        background-color: rgb(51, 50, 50);
    }

    iframe{
        width: 520px;
        height: 250px;
    }

    .carousel-controls1 .carousel-control-right{
        padding-top: 35rem;
    }

    .carousel-controls1 .carousel-control-left{
        padding-top: 35rem;
    }

    .carousel-controls2 .carousel-control-right{
        padding-bottom:80rem;
    }

    .carousel-controls2 .carousel-control-left{
        padding-bottom:80rem;
    }

    .swiper-slide{
        top: 1rem;
        margin-left:10rem;
    }

    img{
        width: 30rem;
    }

    .logo{
        margin-left: 100px;
    }

    #adsHome{
        padding-left: 27rem;
        padding-top: 4rem;
        padding-bottom: 3rem;
        font-size: 15px;
    }

    #adsEsportes{
        padding-left: 27rem;
        padding-top: 4rem;
        padding-bottom: 3rem;
        font-size: 15px;
    }

    #ads{
        padding-left: 18rem;
        padding-top: 4rem;
        padding-bottom: 3rem;
        font-size: 15px;
    }

    .titleVideoEscolhido{
        padding-left: 7rem;
        padding-bottom: 1rem;
    }
}
